.flex{
    display: flex;

}
#setlo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aquamarine;
}

ul {
    list-style-type: none;
}

.left ul li{
    padding: 30px;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-family: fantasy system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#cartimg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#written{
margin-left: 180px;
justify-content: center;
align-items: center;

}
.UP-HEADEER{
    height: 80px;
    width:100%;
    background-color: black;
    color: brown;
    font-family:"Sofia", 'Times New Roman', Times, serif;
    box-shadow: 0 5px 0 rgb(65, 64, 67);
     padding: 30px 10px;
     clear: both;

}
h1{
    align-items: center;
}
.down-header{
   
   align-items: center;
   width: 102%;
   clear:both;
   height: 40px;
   background-color: cadetblue ;
   position:absolute,fixed;
}

.right ul li{
padding:0 50px;
align-self: center;
justify-self: right;

    
}

#image{
    height:350px;
    width:350px;
    border-radius: 30px;
    border-color: rgb(46, 45, 45);
     
}

.imagebox{
    align-self: center;
    justify-self: center;
    width:100%;
    margin:0px 5px;

}

.box{
    margin: 0 0px;
    width:100%;
}

.idea{
    margin:0 0;
    padding:0 0;
    width:100%;
    position:fixed;
    height:50px;

}

.image-head{
    width:100%;
    padding-top: 185px;
    justify-self: center;
    align-self: center;
}

